<div class="top-bar">
    <div class="container">
        <!-- Left: Language Selector -->
        <div class="top-bar__left">
            <div class="language-selector">
                <select [(ngModel)]="selectedLanguage">
                    <option *ngFor="let lang of languages" [value]="lang">{{ lang }}</option>
                </select>
            </div>
        </div>

        <!-- Right: Account, Wishlist, Cart -->
        <div class="top-bar__right">
            <!-- Account Dropdown -->
            <div class="account-menu" (mouseenter)="showAccountMenu = true" (mouseleave)="showAccountMenu = false">
                <a href="#" class="top-link">Login</a>

                <ng-container *ngIf="showAccountMenu">
                    <div class="account-dropdown">
                        <a href="#">My Account</a>
                        <a href="#">Orders</a>
                        <a href="#">Logout</a>
                    </div>
                </ng-container>
            </div>

            <span class="divider">|</span>

            <!-- Wishlist -->
            <a href="#" class="top-link">Wishlist</a>

            <span class="divider">|</span>

            <!-- Cart Icon -->
            <a href="#" class="top-link cart-icon">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-label">Cart</span>
                <ng-container *ngIf="cartCount > 0">
                    <span class="cart-badge">{{ cartCount }}</span>
                </ng-container>
            </a>
        </div>
    </div>
</div>