<div class="top-bar">
    <div class="container">
        <!-- Left: Language -->
        <div class="top-bar__left">
            <div class="language-selector">
                <select [(ngModel)]="selectedLanguage" aria-label="Select Language">
                    <option *ngFor="let lang of languages" [value]="lang">{{ lang }}</option>
                </select>
            </div>
        </div>

        <!-- Right: Links -->
        <div class="top-bar__right">
            <!-- Login + Account Dropdown -->
            <div class="account-menu" (mouseenter)="showAccountMenu = true" (mouseleave)="showAccountMenu = false">
                <a class="top-link">Login</a>
                <div class="account-dropdown" *ngIf="showAccountMenu">
                    <a routerLink="/account">My Account</a>
                    <a routerLink="/orders">Orders</a>
                    <a routerLink="/logout">Logout</a>
                </div>
            </div>

            <span class="divider">|</span>

            <!-- Wishlist -->
            <a routerLink="/wishlist" class="top-link">Wishlist</a>

            <span class="divider">|</span>

            <!-- Cart -->
            <a routerLink="/cart" class="top-link cart-icon">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-label">Cart</span>
                <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
            </a>
        </div>
    </div>
</div>