<!-- Hero Section -->
<section class="section-spacing">
    <app-hero></app-hero>
</section>

<!-- Product Carousel Section -->
<section class="section-spacing" #productCarousel>
    <app-product-carousel (productSelected)="updateFeaturedProduct($event)"></app-product-carousel>
</section>

<!-- Category Promo Section -->
<section class="section-spacing">
    <app-category-promo></app-category-promo>
</section>

<!-- Featured Product Section -->
<section class="section-spacing" #featuredSection>
    <app-featured-product [product]="featuredProduct" (backToProducts)="scrollToCarousel()"></app-featured-product>
</section>